'context-menu':
  'atom-text-editor': [
    {
      'label': 'Autocomplete Java'
      'submenu': [
        {
          'label': 'Refresh Project'
          'command': 'autocomplete-java:refresh-project'
        },
        {
          'label': 'Full Refresh'
          'command': 'autocomplete-java:full-refresh'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Juist'
      'submenu': [
        {
          'label': 'Refresh Project'
          'command': 'autocomplete-java:refresh-project'
        },
        {
          'label': 'Full Refresh'
          'command': 'autocomplete-java:full-refresh'
        }
      ]
    ]
  }
]
